{% extends 'base.html' %} {% block content %}
<div class="detail_entire_box">
  <div
    class="container"
    style="
      margin-top: 10px;
      border: 2px solid rgb(219, 214, 214);
      border-radius: 30px;
      height: 70%;
    "
    id="detail_box"
  >
    <br />

    <!-- 이미지 보여주기 -->
    {% if details.image %}
    <img src="{{ details.image.url }}" alt="" />
    <br />
    {% endif %}
    <div class="detail_content">
      <h4>제목: {{details.title}}</h4>
      <p>작성일: {{details.pub_date}}</p>
      <p>작성자: {{details.writer}}님</p>
      <p class="content">{{details.body}}</p>
      {% if user.nickname == details.writer%}
      <a href="{% url 'edit' details.id%}">수정하기</a>
      <a
        href="{% url 'delete' details.id%}"
        onclick="alert('삭제하시겠습니까?')"
        >삭제하기</a
      >
      {% else %} {% endif %}
    </div>
  </div>
</div>
{% endblock%}
