{% extends 'base.html' %} {% block content %}
<div class="container" id="container_edit">
  <form
    id="edit_form"
    action="{%url 'update' blogs.id%}"
    method="POST"
    enctype="multipart/form-data"
  >
    {%csrf_token%}
    <br />
    <p>제목: <input type="text" name="title" value="{{blogs.title}}" /></p>
    <br />
    <p>작성자: <input type="text" name="writer" value="{{blogs.writer}}" /></p>
    본문:
    <br />
    <textarea name="body" rows="10" cols="30">{{blogs.body}}</textarea>
    <br />
    <p>
      사진: <input type="file" name="image " value="{{ details.image.url }}" />
    </p>
    <div class="edit_btn_div">
      <button type="submit" id="edit_btn">제출하기</button>
    </div>
  </form>
</div>
{% endblock%}
