{% extends 'base.html' %} {% block content %}
<div class="entire_card">
  {% load static %} {% for blog in blogs%}
  <a
    class="card-link"
    style="text-decoration: none; color: black; text-align: center"
    id="detail_btn"
    href="{% url 'detail' blog.id%}"
  >
    <div class="card" id="content_list_box">
      <div class="card-body">
        {% if blog.image %}
        <img src="{{ blog.image.url }}" id="list_image" />
        {% endif%}
        <h5 class="card-title" id="list_title">{{blog.title}}</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
      <p class="card-text">{{blog.summary}}</p>-->
      </div>
    </div>
  </a>
  {% endfor%}
</div>

<div style="display: flex; justify-content: center">
  {{blogs.number}} of {{blogs.paginator.num_pages}}
</div>
{% if blogs.has_previous%}
<div style="display: flex; justify-content: flex-end">
  <a class="first_page" href="?page=1">처음</a>
  <a class="previous_page" href="?page={{blogs.previous_page_number}}">이전</a>
</div>
{% endif%} {% if blogs.has_next%}
<div style="display: flex; justify-content: flex-end">
  <a class="next_page" href="?page={{blogs.next_page_number}}">다음</a>
  <a class="last_page" href="?page={{blogs.paginator.num_pages}}">마지막</a>
</div>
{% endif%} {% endblock%}
