{% extends 'base.html' %} {% block content %}

<html lang="en">
  <head>
    {% load static %}
     {% block extrahead %}
    <title>Introduce Myself</title>
    {% endblock %}
  </head>
 
  <body>
      <div class="home_icon"><a style="color: black;" href="{% url 'about_me'%}"><i class="fas fa-home fa-2x"></i></a>
      </div>

    <div class="short_info">
        
      <div class="short_info_box">
        <div class="hello">Hello I am SOMIN AN</div>
        
        <img src="{% static 'img/hello.png' %}" alt="">
        <div class="icon_box">
      
          <div class="github github_icon">
            
                <i class="fab fa-github fa-2x"></i>
                somm12
            
          </div>
         
        </div>
        <div class="click_icon">click above icon</div>
      </div>
      </div>
      <div class="about_me">
        <span>About me</span>
        <div class="about_me_detail">
            <div class="major">
                <div class="major_name">📌 mobile system engineering</div>
                <img src="{% static 'img/major.png' %}" alt="">
            </div>
            <div class="interest">
                <div class="interest_study">📌 interest in back & front end</div>
                <img src="{% static 'img/interest.png' %}" alt="">
            </div>
            <div class="hobby">
              <div class="mbti_name">📌 Love Netflix & YouTube</div>
              <img src="{% static 'img/hobby.png' %}" alt="">
          </div>
            <div class="mbti">
                <div class="mbti_name">📌 MBTI is ISFJ</div>
                <img src="{% static 'img/mbti.png' %}" alt="">
            </div>

        </div>
        <script
        src="https://kit.fontawesome.com/6478f529f2.js"
        crossorigin="anonymous"
      ></script>
  </body>
</html>
{% endblock%}