body {
  margin: 0;
  font-family: cursive;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#logo {
  font-family: "Ribeye", cursive;
}
.icon_box a {
  text-decoration: none;
  color: black;
}
.home_icon {
  margin: 10px;
}
.short_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(185, 179, 179);
  padding-bottom: 10px;
}
.short_info_box {
  text-align: center;
}
.hello {
  font-size: 20px;
  font-weight: 700;
}
img {
  width: 200px;
  height: 200px;
}
.icon_box {
  display: flex;
  justify-content: space-evenly;
}
.click_icon {
  margin-top: 20px;
  color: gray;
}
.about_me {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
span {
  font-size: 20px;
  font-weight: 500;
}
.about_me_detail {
  display: flex;
  justify-content: space-around;

  width: 100%;
  margin-left: 30px;
  margin-top: 50px;
}
.mbti {
  text-align: center;
}
.email_icon {
  display: flex;

  align-items: center;
}
.email_icon i {
  margin-right: 10px;
}
.github_icon {
  display: flex;
  align-items: center;
}
.github_icon i {
  margin-right: 10px;
}
.instagram_icon {
  display: flex;
  align-items: center;
}
.instagram_icon i {
  margin-left: 50px;
  margin-right: 10px;
}

/*first page css*/
.first_page_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.entire_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 10px;
  padding: 0px 10px;
}
.card_box {
  width: 18rem;
  border: 1px solid black;
}
.container {
  background-color: white;
  padding-bottom: 20px;
  margin-top: 10px;
  border: 2px solid rgb(219, 214, 214);
  border-radius: 30px;
}
.container img {
  width: 400px;
  height: 500px;
}
.bgImage {
  width: 550px;
  height: 450px;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  border-radius: 40px;
}
.opacity-for-info-box {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0;
  background-color: black;
  opacity: 0.2;
  top: 0;
  left: 0;
}
.welcome_text {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 17px;
  font: italic 1.2em "Fira Sans", serif;
}
/*first.html css end*/

/*login.html css start*/
.loginbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login_container {
  padding: 30px;
  width: 15%;
}
.login_title {
  font-weight: 600;
  font-size: 30px;
}
.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_btn {
  border: none;
  border-radius: 20px;
  background-color: lightblue;
}
/*글 목록 home.html css start*/
#content_list_box {
  width: 15rem;
  border-radius: 30px;
  margin: 0px 10px;
}
#list_image {
  border-radius: 20px;
}
#detail_btn {
  text-decoration: none;
}

#list_title {
  font-family: cursive;
  margin-top: 5px;
  font-weight: 400;
}
.page_controller a {
  text-decoration: none;
}
.page_controller {
  display: flex;
  justify-content: center;
  align-items: center;
}
.next_page,
.last_page,
.previous_page,
.first_page {
  margin-right: 10px;
  color: black;
  padding: 10px;
  border-radius: 10px;
  background-color: bisque;
  text-decoration: none;
}

/*detail.html*/
.detail_entire_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
#detail_box {
  display: flex;
  width: 50%;
  padding-top: 10px;
}
#detail_box img {
  border-radius: 20px;
  width: 400px;
  height: 400px;
}
.detail_content {
  margin-left: 30px;
  width: 100%;
}
.detail_content .content {
  border: 1px solid rgb(185, 181, 181);
  border-radius: 10px;
  height: 60%;
  padding: 5px;
}
.detail_content a {
  text-decoration: none;
  color: black;

  border-radius: 10px;
  padding: 5px;
  background-color: rgb(209, 213, 216);
}
/*new.html*/
.new_contentbox {
  padding: 10px;
}
.new_contentbox p {
  display: flex;
}
.new_contentbox p label {
  margin-right: 5px;
}
.new_contentbox p input {
  border-radius: 10px;
  border: none;
  background-color: rgb(233, 240, 240);
  padding: 5px;
  width: 90%;
}
.new_contentbox p #writer_input {
  width: 85%;
  margin-left: 8px;
}
.new_contentbox textarea {
  border-radius: 20px;
  border: none;
  background-color: rgb(233, 240, 240);
  width: 100%;
}
.submitbtn {
  display: flex;
  justify-content: center;
}
.new_content_submitbtn {
  border: none;
  border-radius: 10px;
  background-color: rgb(222, 228, 228);
}
#new_box {
  display: flex;
  width: 30%;
  padding-top: 10px;
}
/*edit_form*/
#container_edit {
  width: 20%;
}
.edit_btn_div {
  display: flex;
  justify-content: center;
}
#edit_btn {
  border: none;
  border-radius: 10px;
  background-color: rgb(222, 228, 228);
}
